@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  transition: background-color 0.6s ease-in-out;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

.header__nav-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  opacity: 0.3;
  cursor: pointer;
  letter-spacing: 0.00464286em;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.2s;
}
.header__nav-item:hover {
  opacity: 1;
}
.header__nav-item-title {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.header__nav-item-title span {
  display: none;
}
.header__nav-item:hover .header__nav-item-title span {
  transform: translateY(-105%);
}
.header__nav-item:hover .header__nav-item-title span:before {
  transform: skewY(7deg);
}

@media (min-width: 1200px) {
  .header__nav-item {
    height: auto;
    padding: 18px 0;
    line-height: normal;
    margin: 15px;
    opacity: 1;
    text-align: left;
  }
  .header__nav-item-title span {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: transparent;
    transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    white-space: nowrap;
  }
  .header__nav-item-title span::after,
  .header__nav-item-title span::before {
    content: attr(data-text);
    display: block;
    position: absolute;
    color: #000;
  }
  .header__nav-itemtitle span::before {
    top: 0;
    transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
